/* Home page styles */
.home-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../images/title_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 16vh;
    gap: 3rem;
}

.home-logo {
    max-width: 33%;
    min-width: 500px;
    max-height: 20vh;
    width: auto;
    height: auto;
    object-fit: contain;
    margin-bottom: 10%;
}