@using DealOrNoDeal.Code
@namespace DealOrNoDeal.Scenes

<div class="home-container">
    <img src="images/logo.png" alt="Deal or No Deal Logo" class="home-logo" />
    <button class="dond-button"
            @onclick="StartGame">
        Play Game
    </button>
</div>